body {
	text-align: center;
	background-color: #34094C;
	font-family: 'Exo', sans-serif;
	color: white;
	position: relative;
	height: 100%;
}

h1 {
	font-size: 80px;
	text-decoration: underline overline;
}

img {
	display: block;
	margin: 10px auto;
	max-width: 300px;
	max-height: 250px;
}

button {
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	color: white;
	background-color: black;
}

button:hover {
	color: black;
	background-color: yellow;
}

#answers {
	display: block;
	margin: auto;
	width: 600px;
	height: 250px;
}

.answer {
	float: left;
	margin: 10px;
	width: 200px;
	height: 50px;
	color: white;
}

#answerBox2, #answerBox4 {
	float: right;
	clear: bottom;
}

.answerText {
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
}

.answer:hover {
	color: black;
    font-weight: bolder;
}

.octagon {
	width: 200px;
	height: 50px;
	position: relative;
}

.octagon:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	border-bottom: 20px solid black;
	border-left: 29px solid #34094c;
	border-right: 29px solid #34094c;
	width: 144px;
	height: 0;
	z-index: -1;
}

.octagon:after {
	content: "";
	position: absolute;
	bottom: 5px;
	left: 0;
	border-top: 20px solid black;
	border-left: 29px solid #34094c;
	border-right: 29px solid #34094c;
	width: 144px;
	height: 0;
	z-index: -1;
}

.octagon:hover::before{
	border-bottom: 20px solid yellow;
}

.octagon:hover::after{
	border-top: 20px solid yellow;
}

hr {
	z-index: -1;
	border-color: black;
	width: 3000px;
	position: fixed;
	margin-left: -405px;
}

#hr1 {
	top: 352px;
}

#hr2 {
	top: 422px;
}

@media screen and (max-width: 1300px) {
	#hr1 {
		top: 458px;
	}

	#hr2 {
		top: 528px;
	}
}

@media screen and (max-width: 705px) {
	#hr1 {
		top: 85.2%;
	}

	#hr2 {
		top: 95.7%;
	}
}